@charset "UTF-8";html body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
input,
audio,
video { font: inherit; font-size: 100%; margin: 0; padding: 0; border: 0; vertical-align: baseline; word-break: keep-all; outline: none; background: none; } 

/*reset */

body,
html { width: 100%; height: 100%; font-family: "Spoqa Han Sans Neo", Malgun Gothic, "Droid Sans", arial, sans-serif; min-width: 320px; overflow-x: hidden; } 

body { line-height: 1; } 

blockquote { quotes: none; } 

blockquote:before { content: none; } 

blockquote:after { content: none; } 

a,
button { display: block; background: none; border: none; cursor: pointer; text-decoration: none; min-width: 45px; min-height: 45px; outline: none; color: inherit; } 

a:focus { text-decoration: none; color: inherit; outline: none; } 

a:visited,
a:focus { text-decoration: none; color: inherit; outline: none; } 

a { text-decoration: none; } 

img { vertical-align: top; width: 100%; } 

q { quotes: none; } 

q:before { content: none; } 

q:after { content: none; } 

ol { list-style: none; } 

ul { list-style: none; } 

table { border-spacing: 0; border-collapse: collapse; } 

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { display: block; } 

#accessibility { z-index: 9999; position: absolute; width: 100%; top: 0; left: 0; text-align: left; } 

#accessibility a { display: block; z-index: 500; position: absolute; width: 100%; top: -1000px; left: 0; text-align: center; } 

#accessibility a:focus,
#accessibility a:active { z-index: 1000; position: absolute; height: 40px; top: 0; font: bold 12px "Malgun Gothic", Dotum, Gulim, "Apple SD Gothic Neo", sans-serif; line-height: 40px; color: #fff; background: #000; } 

.a11y { position: absolute; width: 5px; height: 5px; overflow: hidden; top: -900000000px; margin: -5px; } 

.ir { display: block; position: relative; overflow: hidden; text-indent: -9999px; } 

.ir:after,
.after:after,
.before:before { display: block; content: ""; } 

.ir:after { position: absolute; } 

@media screen and (min-width: 1080px) { a:hover,
 button:hover { text-decoration: none; opacity: 0.7; transition: .3s;} 
 }
.mt10 { margin-top: 10px!important; } 